<div id="main_home_body">
    <div id="left_div">
        <p class="join_text">Applications OPEN starting today</p>
        <p class="announcement">-Don't miss the oportunity to become our next hero-</p>
        <p class="message">Now you can join your big and growig family. Discover all our posibilities now in this once in a life time experience as part of the Earth Federation Space Forces and develop alongside us.</p>
        <p class="message">For a limited period of time our gates are open, so what are you waiting for click that button and come with us.</p>
        <p class="message">The fun is waiting</p>
    </div>
     
    <div id="right_div">
        <img class="image_efsf" src="../../../assets/5845677826972352528_1.png">
        <button (click)="GoToInventory()" class="button-89" role="button">Join now!</button>
    </div>

</div>
<div class="footer">
        
</div>