#main_home_body{
    background-color: #232526;
    width: 100%;
    height: 600px;
}
.message{
  margin-top: 30px;
  font-size: 17px;
  color: #c0cbd0;
  text-align: right;
  margin-right: 90px;
}
.announcement{
  margin-top: 50px;
  font-size: 25px;
  color: #c0cbd0;
}
.join_text{
  font-size: 35px;
  line-height: 40px;
  color: #c0cbd0;
  margin-top: 70px;
}

.footer{
  background-color: #171818;
  width: 100%;
  height: 40px;
}
 
.main_text{
    color: #f6b807;
    font-size:24px;
    padding-top: 130px;
}

#left_div{
    width: 45%;
    height: 300px;
    float: right;
}

.right_div{
  float: left;
}

.image_efsf{
  margin-top: 100px;
  margin-left: 90px;
    visibility: visible;
    float: left;
}

/* CSS */
.button-89 {
  margin-top:520px;
  margin-left: 50px;
  float: left;
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #f6b807;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}