<div id="top_side">
    <p id="top_side_text">Welcome to the future</p>
    <button mat-raised-button color="accent" (click)="openDialog()" id="button_add">add</button>
</div>

<div class="items">
    <div *ngFor="let item of items" class="item">
        <p>Name: {{item.name}}</p>
        <p>Description: {{item.description}}</p>
        <p>Quantity: {{item.quantity}}</p>
        <button id="delete_button" (click) = "delete_buttonClick(item)">delete</button>
        <button id="edit_button" (click) = "openEditDialog()">edit</button>
    </div>
</div>